header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
nav {
  display: flex;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
.logo span {
  color: MediumAquamarine;
}
header nav {
  padding-right: 40px;
}
div {
  border: 1px solid black;
  display: block;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.content {
  display: flex;
  width: 1232px;
  padding-top: 116px;
}
}
.column {
  display: flex;
  flex-direction: column;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
.image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-top: 15px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}
.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  flex-direction: column;
  display: flex;
}
.stories {
  display: inline-flex;
}
.fall-cancelled.image-content {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.pop-culture.image-content {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
