header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
header nav {
  padding-right: 40px;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
nav, {
  display: block;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
.logo span {
    color: MediumAquamarine;
}
div {
    display: block;
}
.content {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
}
.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
a {
  color: black;
}
.lead-story .image-content {
    background-image: url(../images/MainStory.png);
    width: 630px;
    margin-top: 0;
    font-size: 40px;
    text-align: left;
}
.fall-cancelled.image-content {
  background-image: url(../images/FallSeason.png);
}
.pop-culture.image-content {
  background-image: url(../images/Hipster.png);
}
.cat-ceo.image-content {
  background-image: url(../images/catCEO.png);
}
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.stories {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
